* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: limegreen;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 1rem;
}

p {
  font-size: 1.5rem;
}

#canvas {
  width: 600px;
  height: 300px;
}
