* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: limegreen;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 1rem;
}

p {
  font-size: 2rem;
  font-weight: 700;
  margin-block: 1rem 2rem;
  text-align: center;
  user-select: none;
}

#canvas {
  width: 80%;
  height: 80%;
  outline: 1px solid limegreen;
  margin-inline-start: 10%;

  &:hover {
    cursor: url("assets/brush-32.png") 0 32, crosshair;
  }
}
#canvas.eraser:hover {
  cursor: url("assets/eraser-32.png") 0 16, crosshair;
}

#controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-inline-start: 10%;

  label {
    user-select: none;
  }
}

.control-group {
  display: grid;
  justify-items: center;
}
