* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: limegreen;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  padding: 1rem 1rem 1rem 10%;
  min-height: 100dvh;
}

#canvas {
  width: 80%;
  max-width: 1000px;
  outline: 1px solid limegreen;
  display: block;
  margin-inline: auto;
  margin-block-start: 5rem;
  anchor-name: --canvas;
  background-color: #202020;
  isolation: isolate;
}

h1 {
  position: absolute;
  position-anchor: --canvas;
  position-area: top center;
  margin-block-end: 1rem;
}

body.brush {
  cursor:
    url("assets/brush-32.png") 0 32,
    auto;
}

body.eraser-sm {
  cursor:
    url("assets/eraser-10.png") 0 23,
    auto;
}

body.eraser {
  cursor:
    url("assets/eraser-20.png") 0 20,
    auto;
}

body.eraser-lg {
  cursor:
    url("assets/eraser-30.png") 0 13,
    auto;
}

body.clone {
  cursor:
    url("assets/clone-20.png") 16 32,
    auto;
}
body.clone-sm {
  cursor:
    url("assets/clone-10.png") 16 32,
    auto;
}
body.clone-lg {
  cursor:
    url("assets/clone-30.png") 16 32,
    auto;
}

.tool-options {
  position: absolute;
  display: flex;
  align-items: start;
  gap: 1rem;
  top: -100%;
  left: 1rem;
  outline: 2px solid limegreen;
  background-color: rgba(4, 53, 4, 0.9);
  padding: 1rem;
  transition: top 1s ease;
  position-anchor: --canvas;
  position-area: bottom center;

  #clear-clone-btn {
    padding: 0.5rem;
    color: limegreen;
    background: rgba(205, 50, 50, 0.5);
    cursor: pointer;
    border: none;
    margin-inline-start: 0.5rem;
    transition: scale 0.1s;

    &:active {
      scale: 0.95;
    }
  }

  #recent-colors-wrapper {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
    margin-block-start: 0.5rem;
    margin-inline-start: 2rem;

    & > div {
      width: 1.5rem;
      height: 1.5rem;
      outline: 1px solid limegreen;
      cursor: pointer;
    }

    #recent-label {
      position: absolute;
      right: calc(100% + 3rem);
      white-space: nowrap;
    }
  }
}
#clone-group-one {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-block-end: 0.5rem;
  width: 100%;
}

#clone-group-size-adj {
  label {
    margin-block-end: 0.25rem;
  }
}

#controls {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
  width: 15%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;

  label {
    user-select: none;
  }

  p {
    font-size: 2rem;
    font-weight: 700;
    margin-block: 1rem 2rem;
    text-align: center;
    user-select: none;
  }

  button {
    width: 75%;
    padding-block: 0.5rem;
    border-radius: 5px;
    font: inherit;
    cursor: inherit;
  }

  #colors-btn {
    background: none;
    padding: 0;
    border: none;

    img {
      max-width: 2rem;
      cursor: pointer;
    }
  }

  #brush-btn {
    background: none;
    padding: 0;
    border: none;
    position: relative;

    img {
      max-width: 1.5rem;
      cursor: pointer;
    }
  }

  #clone-btn {
    background: none;
    padding: 0;
    border: none;
    position: relative;

    img {
      max-width: 1.5rem;
      cursor: pointer;
    }
  }

  #eraser-btn {
    background: none;
    padding: 0;
    border: none;

    img {
      transform: translateX(-0.25rem);
      max-width: 1.5rem;
      cursor: pointer;
    }
  }

  #clear-btn {
    background: none;
    padding: 0;
    border: none;
    position: relative;

    img {
      max-width: 1.5rem;
      cursor: pointer;
    }
  }

  .control-group:has(#load-img-input) {
    /* position: relative; */

    label {
      cursor: pointer;
    }

    img {
      max-width: 2rem;
    }
  }

  #save-btn {
    background: none;
    padding: 0;
    border: none;
    position: relative;

    img {
      max-width: 2rem;
      cursor: pointer;
    }
  }
}

.control-group:not(#eraser):not(#clone-group-one) {
  display: grid;
  justify-items: center;
}

.color-control-group {
  display: grid;
  gap: 0.5rem;

  label {
    margin-block-end: 0.25rem;
  }
}

#load-img-input {
  display: none;
}

#stroke {
  width: 85px;

  label {
    margin-block-end: 0.5rem;
  }
}

#opacity {
  width: 85px;
}
