* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: limegreen;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 1rem;
  min-height: 100dvh;
  align-content: center;
}

p {
  font-size: 2rem;
  font-weight: 700;
  margin-block: 1rem 2rem;
  text-align: center;
  user-select: none;
}

#canvas {
  width: 80%;
  outline: 1px solid limegreen;
  margin-inline-start: 15%;
}

body.brush {
  cursor: url("assets/brush-32.png") 0 32, crosshair;
}

body.eraser {
  cursor: url("assets/eraser-32.png") 0 16, crosshair;
}

body.clone {
  cursor: url("assets/clone-32.png") 16 32, crosshair;
}

#controls {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
  width: 15%;
  height: 100dvh;
  /* outline: 1px solid pink; */
  position: fixed;
  top: 0;
  left: 0;

  label {
    user-select: none;
  }

  button {
    width: 75%;
    padding-block: 0.5rem;
    border-radius: 5px;
    font: inherit;
    cursor: pointer;
  }

  #save-btn {
    background: none;
    padding: 0;
    border: none;
    position: relative;

    img {
      max-width: 2.5rem;
    }

    &::after {
      content: "save";
      position: absolute;
      bottom: 0.25rem;
      left: 50%;
      transform: translateX(-50%);
      color: limegreen;
    }
  }

  #clone-btn {
    background: none;
    padding: 0;
    border: none;
    position: relative;

    img {
      max-width: 2.25rem;
    }

    &::after {
      content: "clone";
      position: absolute;
      top: 0.25rem;
      left: 50%;
      transform: translateX(-50%);
      color: limegreen;
    }
  }

  #brush-btn {
    background: none;
    padding: 0;
    border: none;
    position: relative;

    img {
      max-width: 2.5rem;
    }

    &::after {
      content: "brush";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      color: limegreen;
    }
  }

  #clear-btn {
    background: none;
    padding: 0;
    border: none;
    position: relative;

    img {
      max-width: 3rem;
      filter: brightness(0.75);
    }
    &::after {
      content: "start\Aover";
      line-height: 1;
      position: absolute;
      bottom: 0.5rem;
      left: 50%;
      transform: translateX(-50%);
      color: hsl(120, 61%, 60%);
    }
  }
}

.control-group:not(#eraser) {
  display: grid;
  justify-items: center;
}

.control-group:has(#load-img-input) {
  position: relative;

  label {
    cursor: pointer;
  }

  img {
    max-width: 3.25rem;
    filter: brightness(0.6);
  }

  &::after {
    content: "open";
    cursor: pointer;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    color: limegreen;
  }
}

.control-group:has(#eraser) {
  cursor: pointer;
}
#eraser-btn {
  background: none;
  padding: 0;
  border: none;

  img {
    transform: translateX(-0.25rem);
  }
}

.color-control-group {
  display: grid;
  gap: 0.5rem;

  label {
    margin-block-end: 0.25rem;
  }
}

#load-img-input {
  display: none;
}

#stroke {
  height: 50px;
  writing-mode: vertical-rl;
  rotate: 180deg;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

#stroke-label {
  position: relative;

  &::after {
    content: "min";
    position: absolute;
    top: 50px;
    left: 0;
  }
  &::before {
    content: "max";
    position: absolute;
    top: 20px;
    right: 0;
  }
}
