* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: limegreen;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 1rem;
}

p {
  font-size: 1.5rem;
}

#canvas {
  /* width: 800px; */
  width: 80%;
  /* height: 500px; */
  height: 80%;
  outline: 1px solid limegreen;
  margin-inline-start: 10%;

  &:hover {
    cursor: crosshair;
  }
}
